<script lang="ts">
import type { ConfigType } from '@gitlab/web-ide-types';
import { defineComponent, ref, reactive, PropType } from 'vue';
import { ExampleConfigClientOnly, ExampleConfigRemote } from '../types';
import ConfigFormClientOnly from './ConfigFormClientOnly.vue';
import ConfigFormRemote from './ConfigFormRemote.vue';

// constants
const TYPE_CLIENT_ONLY: ConfigType = 'client-only';
const TYPE_REMOTE: ConfigType = 'remote';

export default defineComponent({
  props: {
    initConfig: {
      type: Object,
      required: false,
      default: null,
    },
    initConfigType: {
      type: Object as PropType<ConfigType>,
      required: false,
      default: TYPE_CLIENT_ONLY,
    },
  },
  emits: {
    submit(type: ConfigType, config: ExampleConfigClientOnly | ExampleConfigRemote) {
      return Boolean(type) && Boolean(config);
    },
  },
  components: {
    ConfigFormClientOnly,
    ConfigFormRemote,
  },
  setup(props, { emit }) {
    const initConfigForType = (type: ConfigType) =>
      props.initConfig && props.initConfigType === type ? props.initConfig : {};

    // state
    const configType = ref<ConfigType>(props.initConfigType);
    const clientConfig = reactive<ExampleConfigClientOnly>({
      gitlabUrl: 'https://gitlab.com/',
      projectPath: 'gitlab-org/gitlab',
      gitRef: 'master',
      gitlabToken: '',
      ...initConfigForType('client-only'),
    });
    const remoteConfig = reactive<ExampleConfigRemote>({
      remoteAuthority: 'localhost:9888',
      hostPath: '/',
      connectionToken: 'password',
      ...initConfigForType('remote'),
    });

    // callbacks
    const onClientConfigUpdate = (key: keyof ExampleConfigClientOnly, value: string) => {
      clientConfig[key] = value;
    };

    const onRemoteConfigUpdate = (key: keyof ExampleConfigRemote, value: string) => {
      remoteConfig[key] = value;
    };

    const onSubmit = () => {
      if (configType.value === 'client-only') {
        emit('submit', configType.value, clientConfig);
      } else {
        emit('submit', configType.value, remoteConfig);
      }
    };

    return {
      TYPE_CLIENT_ONLY,
      TYPE_REMOTE,
      configType,
      onSubmit,
      clientConfig,
      remoteConfig,
      onClientConfigUpdate,
      onRemoteConfigUpdate,
    };
  },
});
</script>

<template>
  <div class="flex items-center justify-center fixed inset-0">
    <form class="w-96 mt-3 p-3 border rounded bg-white" @submit.prevent="onSubmit">
      <div class="mb-3">
        <label class="block">
          <span>Type</span>
          <select name="config_type" class="gl-input" v-model="configType">
            <option :value="TYPE_CLIENT_ONLY">Client only (Default)</option>
            <option :value="TYPE_REMOTE">Remote Development</option>
          </select>
        </label>
      </div>
      <config-form-client-only
        v-show="configType === TYPE_CLIENT_ONLY"
        v-bind="clientConfig"
        @update="onClientConfigUpdate"
      />
      <config-form-remote
        v-show="configType === TYPE_REMOTE"
        v-bind="remoteConfig"
        @update="onRemoteConfigUpdate"
      />
      <div class="mt-3 flex items-center justify-center">
        <button type="submit" class="gl-submit-btn">Start GitLab Web IDE</button>
      </div>
    </form>
  </div>
</template>
